{% extends 'base.html' %}
{% load static %}
{% block meta %}<title>Reset Password</title>{% endblock %}
{% block style %}
<style>
	.wrapper {
	    margin-top: 20px;
	}
	label{
		margin: 8px 0 5px 0;
	}
	.reset-password-form{
	    padding: 15px 35px 20px;
	    margin: 0 auto;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.reset-password-instructions{
	    padding: 15px 35px 0px;
	    background-color: #fff;
	}
</style>
{% endblock %}
{% block content %}
	<section class="bg-info" style="min-height: calc(100vh - 111px);">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="wrapper">
						<form class="reset-password-form" method="post" action=".">
							<h2 class="my-3 pl-3">Reset Password</h2>
							{% csrf_token %}
							<div class="col-12">
								{{ form.old_password.errors }}
								{{ form.old_password.label_tag }}
								{{ form.old_password }}
							</div>
							<div class="col-12">
								{{ form.new_password1.errors }}
								{{ form.new_password1.label_tag }}
								{{ form.new_password1 }}
							</div>
							<div class="col-12">
								{{ form.new_password2.errors }}
								{{ form.new_password2.label_tag }}
								{{ form.new_password2 }}
							</div>
							<div class="col-12 my-3">
								<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row mt-0 pt-2">
				<div class="col-md-6 offset-md-3">
					<div class="reset-password-instructions">
						<h2 class="mb-0 pl-3 pb-1">Important Points:</h2>
						<ul class="mt-0 pb-2">
							<li>Your password can’t be too similar to your other personal information.</li>
							<li>Your password must contain at least 8 characters.</li>
							<li>Your password can’t be a commonly used password.</li>
							<li>Your password can’t be entirely numeric.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}