{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .list-group-item{
        padding: .15rem 1rem;
    }
    .help_text{
    	color: red;
    	font-weight: bold;
    	text-shadow: 0 0 black;
    	letter-spacing: 0.34px;
    	font-size: 15px;
    }
</style>
{% endblock %}
{% load i18n %}
{% block content %}
<section class="student bg-info pt-4" style="min-height: calc(100vh - 111px);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{ form.non_field_errors }}
				<div class="row text-left">
				{% for f in form %}
				{% if f.errors %}
				<div class="col-6">
				<p class="pl-4" style="color:red;">{{ f.label }}</p>
				{{ f.errors }}
				</div>
				{% endif %}
				{% endfor %}
				</div>
				<form method="POST" action=".">
					{% csrf_token %}
					<input type="hidden" name="school" value="{{ student.school.id }}" />
					<input type="hidden" name="edited" value="0" id="id_edited" />
					<div class="row">
						{% for field in form %}{% if field.name != 'edited' %}
						<div class="{% if forloop.counter > 4 and forloop.counter < 9 %}col-md-3{% elif forloop.counter > 8 %}col-md-4{% elif field.name == 'document' %}col-md-12{% else %}col-md-6{% endif %}">
							<label for="{{ field.auto_id }}">{{ field.label }}</label>
							{{ field }}
							{% if field.help_text %}<p class="help_text">{{ field.help_text }}</p>{% endif %}
						</div>
						{% endif %}{% endfor %}
						<div class="col-12">
							<button class="btn btn-warning btn-block" type="submit">{% trans "Submit" %}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	$(document).ready(function(){
		$originalForm = $('form').serialize();
		$edited = $('#id_edited');
		$('form').submit(function(e){
			if ($('form').serialize() !== $originalForm){
				$edited.val("1");
			}

			$(':disabled').each(function(e){
				$(this).removeAttr('disabled')
			});
		});
	});
</script>
{% endblock %}
