{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-2">
		<div class="container">
		<h2>Student Details</h2>
		<div class="p-2" style="background-color: #dbdcdd;">
			<div class="row">
				<div class="col-md-6"><strong>Student Name</strong>: </div>
				<div class="col-md-6">{{ student.name }}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong>Father's Name</strong>: </div>
				<div class="col-md-6">{{ student.f_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong>Mother' Name</strong>: </div>
				<div class="col-md-6">{{ student.m_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong>Guardian's Name</strong>: </div>
				<div class="col-md-6">{{ student.get_guardian_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong>Gender / Caste / Religion</strong>: </div>
				<div class="col-md-6">{{ student.get_gender }} / {{ student.get_caste }} / {{ student.get_religion }}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong>Date of Birth</strong>: </div>
				<div class="col-md-6">{{ student.dob }}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><strong>First Language / Second Language / Optional Elective</strong>: </div>
				<div class="col-md-6">{{ student.get_fl_name }} / {{ student.get_sl_name }} / {{ student.get_opt_name }}</div>
			</div>
		</div>	
		<div class="row mt-3">
			<div class="col-md-4"><a href="{% url 'student:select_student' serial=student.serial %}" class="btn btn-success d-block">Selected</a></div>
			<div class="col-md-4"><a href="{% url 'student:not_select_student' serial=student.serial %}" class="btn btn-warning d-block">Not Selected</a></div>
			<div class="col-md-4"><a href="{% url 'student:edit_student' serial=student.serial %}" class="btn btn-primary d-block">Edit</a></div>
		</div>
	</div>
</section>
{% endblock %}