{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<section class="py-2">
		<div class="container">
		<h2>Student Details</h2>
		<div class="p-2" style="background-color: #dbdcdd;">
			<div class="row">
				<div class="col-md-3"><strong>Student Name</strong>: </div>
				<div class="col-md-6">{{ student.name }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Father's Name</strong>: </div>
				<div class="col-md-6">{{ student.f_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Mother' Name</strong>: </div>
				<div class="col-md-6">{{ student.m_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Guardian's Name</strong>: </div>
				<div class="col-md-6">{{ student.get_guardian_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Date of Birth</strong>: </div>
				<div class="col-md-6">{{ student.dob|date_format|date }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Gender</strong>: </div>
				<div class="col-md-6">{{ student.get_gender }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Caste</strong>: </div>
				<div class="col-md-6">{{ student.get_caste }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Religion</strong>: </div>
				<div class="col-md-6">{{ student.get_religion }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>First Language</strong>:</div>
				<div class="col-md-6">{{ student.get_fl_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Second Language</strong>:</div>
				<div class="col-md-6">{{ student.get_sl_name }}</div>
			</div>
			<div class="row">
				<div class="col-md-3"><strong>Optional Elective</strong>:</div>
				<div class="col-md-6">{{ student.get_opt_name }}</div>
			</div>
		</div>	
		<div class="row mt-3">
			<div class="col-md-4"><a href="{% url 'student:select_student' serial=student.serial %}" class="btn btn-success d-block">Selected</a></div>
			<div class="col-md-4"><a href="{% url 'student:not_select_student' serial=student.serial %}" class="btn btn-warning d-block">Not Selected</a></div>
			<div class="col-md-4"><a href="{% url 'student:edit_student' serial=student.serial %}" class="btn btn-primary d-block">Edit</a></div>
		</div>
	</div>
</section>
{% endblock %}