{% extends "base.html" %}
{% load static %}
{% block style %}
  <style>
    p{
      font-size: 24px;
      color: #020073;
      font-weight: bold;
    }
  </style>
{% endblock %}
{% block content %}
    <!-- banner -->
    <section class="bg-info">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="min-height: calc(100vh - 111px);">
          <div class=" col-md-12 text-center">
            <h2 class=" display-4 text-capitalize">
              <span class=" text-warning">West Bengal Board Of Secondary Education </span><br>
              <span class=" text-white font-weight-bold">Registration Data Online Verification Portal</span>
            </h2>
            <p>Please visit the <a style="color: inherit;" href="{% url 'school:instructions' %}">instructions</a> tab for detailed instruction on how to use the website.</p>
            <br><br>
            <h2 class=" font-weight-light text-light font-italic"> </h2>
            {% if not request.user.is_authenticated %}<a href="{% url 'school:login' %}" class=" btn btn-warning">Login Page</a>{% endif %}
            <a href="{% url 'school:student_list' %}" class=" btn btn-success">Student List</a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}