<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WBBSE PRO INFO COUNT</title>
	<style type="text/css">
		h3{
			margin-bottom: 0;
		}
		p, ul{
			margin: 0
		}
	</style>
</head>
<body>
	<h3>No. of Schools logged in:</h3>
	<p>{{ profile_created_schools }}</p>

	<h3>No of Selected Students:</h3>
	<p>{{ selected_students }}</p>

	<h3>No of NOT Selected Students:</h3>
	<p>{{ not_selected_students}}</p>

	<h3>No. of Edited Students:</h3>
	<p>{{ edited_students }}</p>

	<h3>List of Complete School </h3>
	<p>{{ completed_profiles}}</p>
</body>
</html>