{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
	.form-profile {
	    padding: 15px 35px 45px;
	    margin: 0 auto;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.wrapper {
	    margin-top: 50px;
	}
</style>
{% endblock %}
{% block content %}
<section class="bg-info" style="min-height: calc(100vh - 111px);">
	<div class="container-fluid mt-2">
		<div class="row align-items-center">
			<div class="col-md-6 offset-md-3">
				<div class="wrapper">
					<form class="form-profile" method="post" action="." >
						<h2 class="form-heading mb-4">Update Profile</h2>
						{% csrf_token %}
						{{ form.as_p }}
						<button class="btn btn-primary btn-block" type="submit">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>	
{% endblock %}