{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block style %}
    <style>
        table th{
            vertical-align: middle !important;
            line-height: 1;
        }
    </style>
{% endblock %}
{% block content %}
<section class="bg-info" style="min-height: calc(100vh - 111px);">
    <div class="container-fluid">
        <div class="row justify-content-center pt-5">
            <div class=" col-sm-10 text-center">
                <p class="h2">
                    {{ userx.username }} <span> : {{userx.first_name}}</span><br>
                </p>
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Male</th>
                            <th scope="col">Female</th>
                            <th scope="col">Total</th>
                            <th scope="col">Verified & Selected<br><small>(For Issuance of Registration)</small></th>
                            <th scope="col">Verified & Not Selected<br><small>(For Issuance of Registration)</small></th>
                            <th scope="col">Pending</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">{{male_students}}</td>
                            <td>{{female_students}}</td>
                            <td>{{total_students}}</td>
                            <td>{{selected_students}}</td>
                            <td>{{not_selected_students}}</td>
                            <td>{{pending_students}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    {% if first_student %}
                    <div class="text-center">
                        <a href="{{first_student.get_absolute_url }}" class="btn btn-success my-1">Start Editing Data</a>
                    </div>
                    {% endif %}
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Serial</th>
                                <th scope="col">Name</th>
                                <th scope="col">Father's Name</th>
                                <th scope="col">Date of Birth</th>
                                <th scope="col">1st Language</th>
                                <th scope="col">2nd Language</th>
                                <th scope="col">Is Selected<br><small>(For Issuance of Registration)</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in page_obj %}
                            <tr>
                                <td scope="row"><a href="{{ s.get_absolute_url }}">{{s.serial}}</a></td>
                                <td>{{s.name}}</td>
                                <td>{{s.f_name}}</td>
                                <td>{{s.dob|date_format|date:'d/m/y'}}</td>
                                <td>{{s.get_fl_name}}</td>
                                <td>{{s.get_sl_name}}</td>
                                <td>{% if s.status == '1' %}Yes{% elif s.status == '2' %}No{% else %}-{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not pending_students and not request.user.profile.complete %}
                    <div class="text-center">
                        <a href="{% url 'school:submit_final_data' %}" class="btn btn-success my-1">Submit Final Data</a>
                    </div>
                    {% endif %}
                    {% if not pending_students and request.user.profile.complete %}
                    <div class="text-center">
                        <a href="{% url 'school:pdf_report' %}" class="btn btn-success my-1">Download Report</a>
                    </div>
                    {% endif %}
                    <div class="container p-4">
                        <div class="pagination justify-content-center">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page=1" class="bg-success text-white">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }} " class="bg-danger text-white">previous</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="bg-danger text-white">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-success text-white">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
$('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    });
});
</script>
{% endblock %}