{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
	.declaration{
		padding-top: 10px;
	}
	.declaration-box{
		border: 1px solid #dedede;
		padding: 10px 15px;
		color: rgba(0, 0, 0, 0.7);
	}
	form{
		margin-top: 15px;
	}
</style>
{% endblock %}
{% block content %}
<section class="declaration">
    <div class="container">
        <h2>Please read and agree to the following terms and conditions.</h2>
        <div class="declaration-box">
            The above mentioned data of the Students of the school for registration of Class IX for the year 2020 provided by the West Bengal Board of Secondary Education are checked by school. 
        </div>
        <form method="post" action=".">
        	{% csrf_token %}
        	<div class="form-group">
        		<div class="row">
	        		<div class="col-md-6">
			        	<label class="font-weight-bold" for="id_verification_name">Verifier's Name:</label>
			        	<input class="form-control" name="verification_name" id="id_verification_name" required="" placeholder="Please enter the name of the person who verified the data." />
			        </div>
			    </div>
	        </div>
        	<input type="checkbox" name="agree" id="id_agree" />
        	<label for="id_agree">I agree to provide Admission Register and/or Birth Certificate and/or Caste Certificate (Original and/or Photocopy) whenever the Board asks for.</label>
        	<br><button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</section>
{% endblock %}